function Hangman.new 3
push constant 9
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 5
push constant 0
pop this 6
push constant 36
push constant 26
push constant 52
push constant 106
call Screen.drawRectangle 4
pop temp 0
push constant 36
push constant 56
push constant 94
push constant 72
call Screen.drawRectangle 4
pop temp 0
push constant 78
push constant 26
push constant 94
push constant 106
call Screen.drawRectangle 4
pop temp 0
push constant 115
push constant 26
push constant 159
push constant 38
call Screen.drawRectangle 4
pop temp 0
push constant 115
push constant 26
push constant 127
push constant 106
call Screen.drawRectangle 4
pop temp 0
push constant 147
push constant 38
push constant 159
push constant 106
call Screen.drawRectangle 4
pop temp 0
push constant 115
push constant 66
push constant 159
push constant 78
call Screen.drawRectangle 4
pop temp 0
push constant 172
push constant 26
push constant 184
push constant 106
call Screen.drawRectangle 4
pop temp 0
push constant 172
push constant 26
push constant 216
push constant 38
call Screen.drawRectangle 4
pop temp 0
push constant 204
push constant 26
push constant 216
push constant 106
call Screen.drawRectangle 4
pop temp 0
push constant 240
push constant 26
push constant 252
push constant 106
call Screen.drawRectangle 4
pop temp 0
push constant 240
push constant 26
push constant 288
push constant 38
call Screen.drawRectangle 4
pop temp 0
push constant 240
push constant 94
push constant 288
push constant 106
call Screen.drawRectangle 4
pop temp 0
push constant 276
push constant 66
push constant 288
push constant 106
call Screen.drawRectangle 4
pop temp 0
push constant 270
push constant 135
push constant 335
push constant 147
call Screen.drawRectangle 4
pop temp 0
push constant 270
push constant 135
push constant 282
push constant 219
call Screen.drawRectangle 4
pop temp 0
push constant 323
push constant 135
push constant 335
push constant 219
call Screen.drawRectangle 4
pop temp 0
push constant 296
push constant 135
push constant 308
push constant 190
call Screen.drawRectangle 4
pop temp 0
push constant 355
push constant 135
push constant 399
push constant 147
call Screen.drawRectangle 4
pop temp 0
push constant 355
push constant 135
push constant 367
push constant 219
call Screen.drawRectangle 4
pop temp 0
push constant 387
push constant 135
push constant 399
push constant 219
call Screen.drawRectangle 4
pop temp 0
push constant 355
push constant 175
push constant 399
push constant 187
call Screen.drawRectangle 4
pop temp 0
push constant 414
push constant 135
push constant 458
push constant 147
call Screen.drawRectangle 4
pop temp 0
push constant 414
push constant 135
push constant 426
push constant 219
call Screen.drawRectangle 4
pop temp 0
push constant 446
push constant 135
push constant 458
push constant 219
call Screen.drawRectangle 4
pop temp 0
push constant 5
push constant 38
call Output.moveCursor 2
pop temp 0
push constant 11
call String.new 1
push constant 69
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 70
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 7
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 22
call String.new 1
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 73
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 12
push constant 3
call Output.moveCursor 2
pop temp 0
push constant 25
call String.new 1
push constant 80
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 52
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 53
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 15
push constant 3
call Output.moveCursor 2
pop temp 0
push constant 25
call String.new 1
push constant 83
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 52
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 53
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 18
push constant 3
call Output.moveCursor 2
pop temp 0
push constant 26
call String.new 1
push constant 84
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 52
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 51
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 21
push constant 3
call Output.moveCursor 2
pop temp 0
push constant 22
call String.new 1
push constant 80
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 84
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
pop local 2
label WHILE_EXP0
push local 2
push constant 0
eq
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 2
goto WHILE_EXP0
label WHILE_END0
call Screen.clearScreen 0
pop temp 0
push pointer 0
call Hangman.loading 1
pop temp 0
push pointer 0
call Hangman.instructions 1
pop temp 0
push pointer 0
return
function Hangman.loading 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
push local 0
push constant 2
call Math.divide 2
push constant 2
call Math.multiply 2
push local 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 255
push constant 127
push constant 5
call Screen.drawCircle 3
pop temp 0
push constant 235
push constant 127
push constant 5
call Screen.drawCircle 3
pop temp 0
push constant 275
push constant 127
push constant 5
call Screen.drawCircle 3
pop temp 0
push constant 300
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 245
push constant 127
push constant 5
call Screen.drawCircle 3
pop temp 0
push constant 265
push constant 127
push constant 5
call Screen.drawCircle 3
pop temp 0
push constant 300
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
label IF_END0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Hangman.instructions 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 22
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 58
lt
not
if-goto WHILE_END1
push local 0
push local 1
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 72
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 78
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 1
push constant 8
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push local 0
push constant 2
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 1000
call Sys.wait 1
pop temp 0
push constant 80
push constant 20
push constant 431
push constant 215
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 90
push constant 30
push constant 421
push constant 205
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 3
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 12
call String.new 1
push constant 73
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 5
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 29
call String.new 1
push constant 72
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 46
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 6
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 35
call String.new 1
push constant 79
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 7
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 33
call String.new 1
push constant 84
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 8
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 38
call String.new 1
push constant 84
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 9
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 16
call String.new 1
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 10
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 36
call String.new 1
push constant 84
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 55
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 11
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 35
call String.new 1
push constant 103
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 13
push constant 30
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 82
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 15
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 22
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
pop local 2
label WHILE_EXP2
push local 2
push constant 0
eq
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 2
goto WHILE_EXP2
label WHILE_END2
push constant 245
push constant 122
push constant 265
push constant 132
call Screen.drawRectangle 4
pop temp 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP3
push constant 230
push local 0
sub
push constant 0
eq
not
not
if-goto WHILE_END3
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 240
push local 0
sub
push constant 125
push local 1
sub
push constant 260
push local 0
add
push constant 135
push local 1
add
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 10
add
pop local 0
push local 1
push constant 5
add
pop local 1
goto WHILE_EXP3
label WHILE_END3
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 200
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
return
function Hangman.playerInput 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 22
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 58
lt
not
if-goto WHILE_END1
push local 0
push local 1
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 72
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 78
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 1
push constant 8
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push local 0
push constant 2
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 1000
call Sys.wait 1
pop temp 0
push constant 80
push constant 20
push constant 431
push constant 215
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 90
push constant 30
push constant 421
push constant 205
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 3
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
push constant 1616
call Hangman.player1 2
pop temp 0
push constant 9
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 11
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 10
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 0
call String.new 1
call Keyboard.readLine 1
pop this 7
push constant 0
call Screen.setColor 1
pop temp 0
push constant 90
push constant 30
push constant 421
push constant 205
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 3
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
push constant 1616
call Hangman.player2 2
pop temp 0
push constant 9
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 11
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 10
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 0
call String.new 1
call Keyboard.readLine 1
pop this 8
push constant 245
push constant 122
push constant 265
push constant 132
call Screen.drawRectangle 4
pop temp 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP2
push constant 230
push local 0
sub
push constant 0
eq
not
not
if-goto WHILE_END2
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 240
push local 0
sub
push constant 125
push local 1
sub
push constant 260
push local 0
add
push constant 135
push local 1
add
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 10
add
pop local 0
push local 1
push constant 5
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 200
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
pop this 4
push constant 0
pop this 5
push constant 0
pop this 6
push constant 0
return
function Hangman.run 4
push argument 0
pop pointer 0
push constant 0
pop local 2
push this 4
push constant 1
add
pop this 4
push this 4
push constant 2
call Math.divide 2
push constant 2
call Math.multiply 2
push this 4
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 9
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 19
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 100
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
push constant 1615
call Hangman.player1 2
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 9
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 19
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 100
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
push constant 1615
call Hangman.player2 2
pop temp 0
label IF_END0
push constant 18
push constant 3
call Output.moveCursor 2
pop temp 0
push constant 15
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 58
call String.appendChar 2
call Keyboard.readLine 1
pop this 0
push constant 19
push constant 3
call Output.moveCursor 2
pop temp 0
push constant 15
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
call Keyboard.readLine 1
pop this 1
call Screen.clearScreen 0
pop temp 0
push this 0
call String.length 1
call String.new 1
pop this 2
label WHILE_EXP0
push local 2
push this 0
call String.length 1
lt
not
if-goto WHILE_END0
push this 2
push constant 219
call String.appendChar 2
pop this 2
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 71
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
pop local 1
push constant 3
pop local 0
push constant 0
pop this 3
push pointer 0
call Hangman.drawHangPost 1
pop temp 0
label WHILE_EXP1
push this 3
not
not
if-goto WHILE_END1
push this 2
call Output.printString 1
pop temp 0
push local 0
push constant 19
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 30
push constant 260
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 3
pop local 0
push constant 0
not
call Screen.setColor 1
pop temp 0
label IF_FALSE1
push local 0
push constant 15
call Output.moveCursor 2
pop temp 0
push local 0
push constant 1
add
pop local 0
call Keyboard.readChar 0
pop local 3
call Output.println 0
pop temp 0
push pointer 0
push local 3
call Hangman.isCorrectGuess 2
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 1
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Hangman.drawHead 1
pop temp 0
label IF_FALSE3
push local 1
push constant 1
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Hangman.drawTorso 1
pop temp 0
push constant 0
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 5
call String.new 1
push constant 72
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 1
call Output.printString 1
pop temp 0
push local 0
push constant 0
call Output.moveCursor 2
pop temp 0
label IF_FALSE4
push local 1
push constant 2
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Hangman.drawRightArm 1
pop temp 0
label IF_FALSE5
push local 1
push constant 3
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Hangman.drawLeftArm 1
pop temp 0
label IF_FALSE6
push local 1
push constant 4
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Hangman.drawRightLeg 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 3
push constant 15
call Output.moveCursor 2
pop temp 0
push constant 15
call String.new 1
push constant 84
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 5
push constant 15
call Output.moveCursor 2
pop temp 0
push this 0
call Output.printString 1
pop temp 0
push constant 2000
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push this 4
push constant 2
call Math.divide 2
push constant 2
call Math.multiply 2
push this 4
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 5
push constant 1
add
pop this 5
goto IF_END8
label IF_FALSE8
push this 6
push constant 1
add
pop this 6
label IF_END8
push pointer 0
call Hangman.gameover 1
pop temp 0
label IF_FALSE7
push local 1
push constant 5
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push pointer 0
call Hangman.drawLeftLeg 1
pop temp 0
label IF_FALSE9
push local 1
push constant 1
add
pop local 1
label IF_FALSE2
push pointer 0
call Hangman.isWin 1
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push this 0
call Output.printString 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push this 4
push constant 2
call Math.divide 2
push constant 2
call Math.multiply 2
push this 4
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push this 6
push constant 1
add
pop this 6
goto IF_END11
label IF_FALSE11
push this 5
push constant 1
add
pop this 5
label IF_END11
push pointer 0
call Hangman.win 1
pop temp 0
label IF_FALSE10
goto WHILE_EXP1
label WHILE_END1
push constant 1
neg
pop this 3
push constant 0
return
function Hangman.score 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 22
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 58
lt
not
if-goto WHILE_END1
push local 0
push local 1
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 72
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 78
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 1
push constant 8
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push local 0
push constant 2
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 1000
call Sys.wait 1
pop temp 0
push constant 80
push constant 20
push constant 431
push constant 215
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 90
push constant 30
push constant 421
push constant 205
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 3
push constant 14
call Output.moveCursor 2
pop temp 0
push constant 10
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 100
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 5
push constant 14
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
push constant 1612
call Hangman.player1 2
pop temp 0
push constant 7
push constant 16
call Output.moveCursor 2
pop temp 0
push this 5
call Output.printInt 1
pop temp 0
push constant 5
push constant 42
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
push constant 1618
call Hangman.player2 2
pop temp 0
push constant 7
push constant 44
call Output.moveCursor 2
pop temp 0
push this 6
call Output.printInt 1
pop temp 0
push constant 3000
call Sys.wait 1
pop temp 0
push constant 245
push constant 122
push constant 265
push constant 132
call Screen.drawRectangle 4
pop temp 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP2
push constant 230
push local 0
sub
push constant 0
eq
not
not
if-goto WHILE_END2
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 240
push local 0
sub
push constant 125
push local 1
sub
push constant 260
push local 0
add
push constant 135
push local 1
add
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 10
add
pop local 0
push local 1
push constant 5
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 200
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
return
function Hangman.drawHangPost 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 350
push constant 200
push constant 450
push constant 220
call Screen.drawRectangle 4
pop temp 0
push constant 395
push constant 50
push constant 405
push constant 200
call Screen.drawRectangle 4
pop temp 0
push constant 300
push constant 40
push constant 405
push constant 50
call Screen.drawRectangle 4
pop temp 0
push constant 300
push constant 40
push constant 310
push constant 70
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 2
call Math.divide 2
push constant 2
call Math.multiply 2
push this 4
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push constant 670
call Hangman.player2 2
pop temp 0
goto IF_END0
label IF_FALSE0
push pointer 0
push constant 670
call Hangman.player1 2
pop temp 0
label IF_END0
push constant 0
return
function Hangman.isCorrectGuess 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push this 0
call String.length 1
lt
not
if-goto WHILE_END0
push argument 1
push this 0
push local 0
call String.charAt 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push local 0
push argument 1
call String.setCharAt 3
pop temp 0
push local 1
push constant 1
add
pop local 1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 1
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
neg
return
label IF_FALSE1
push constant 0
return
function Hangman.isWin 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
call String.length 1
lt
not
if-goto WHILE_END0
push this 2
push local 0
call String.charAt 2
push constant 219
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 1
neg
return
function Hangman.win 0
push argument 0
pop pointer 0
push constant 190
push constant 54
push constant 210
push constant 86
call Screen.drawRectangle 4
pop temp 0
push constant 170
push constant 86
push constant 200
push constant 90
call Screen.drawRectangle 4
pop temp 0
push constant 160
push constant 54
push constant 180
push constant 86
call Screen.drawRectangle 4
pop temp 0
push constant 175
push constant 90
push constant 195
push constant 128
call Screen.drawRectangle 4
pop temp 0
push constant 240
push constant 124
push constant 270
push constant 128
call Screen.drawRectangle 4
pop temp 0
push constant 230
push constant 60
push constant 250
push constant 124
call Screen.drawRectangle 4
pop temp 0
push constant 260
push constant 60
push constant 280
push constant 124
call Screen.drawRectangle 4
pop temp 0
push constant 240
push constant 54
push constant 270
push constant 60
call Screen.drawRectangle 4
pop temp 0
push constant 310
push constant 120
push constant 340
push constant 128
call Screen.drawRectangle 4
pop temp 0
push constant 300
push constant 54
push constant 320
push constant 120
call Screen.drawRectangle 4
pop temp 0
push constant 330
push constant 54
push constant 350
push constant 120
call Screen.drawRectangle 4
pop temp 0
push constant 225
push constant 137
push constant 240
push constant 187
call Screen.drawRectangle 4
pop temp 0
push constant 215
push constant 187
push constant 225
push constant 209
call Screen.drawRectangle 4
pop temp 0
push constant 200
push constant 137
push constant 215
push constant 187
call Screen.drawRectangle 4
pop temp 0
push constant 190
push constant 187
push constant 200
push constant 209
call Screen.drawRectangle 4
pop temp 0
push constant 175
push constant 137
push constant 190
push constant 187
call Screen.drawRectangle 4
pop temp 0
push constant 256
push constant 137
push constant 298
push constant 145
call Screen.drawRectangle 4
pop temp 0
push constant 267
push constant 141
push constant 287
push constant 205
call Screen.drawRectangle 4
pop temp 0
push constant 256
push constant 201
push constant 298
push constant 209
call Screen.drawRectangle 4
pop temp 0
push constant 314
push constant 137
push constant 329
push constant 209
call Screen.drawRectangle 4
pop temp 0
push constant 329
push constant 151
push constant 339
push constant 166
call Screen.drawRectangle 4
pop temp 0
push constant 339
push constant 166
push constant 349
push constant 180
call Screen.drawRectangle 4
pop temp 0
push constant 349
push constant 180
push constant 359
push constant 194
call Screen.drawRectangle 4
pop temp 0
push constant 359
push constant 137
push constant 374
push constant 209
call Screen.drawRectangle 4
pop temp 0
push constant 390
push constant 151
push constant 410
push constant 181
call Screen.drawRectangle 4
pop temp 0
push constant 395
push constant 137
push constant 405
push constant 194
call Screen.drawRectangle 4
pop temp 0
push constant 395
push constant 211
push constant 405
push constant 221
call Screen.drawRectangle 4
pop temp 0
push constant 200
call Sys.wait 1
pop temp 0
push pointer 0
call Hangman.restart 1
pop temp 0
push constant 0
return
function Hangman.gameover 0
push argument 0
pop pointer 0
push constant 30
push constant 40
push constant 38
push constant 110
call Screen.drawRectangle 4
pop temp 0
push constant 38
push constant 102
push constant 73
push constant 110
call Screen.drawRectangle 4
pop temp 0
push constant 65
push constant 71
push constant 73
push constant 102
call Screen.drawRectangle 4
pop temp 0
push constant 38
push constant 40
push constant 73
push constant 48
call Screen.drawRectangle 4
pop temp 0
push constant 56
push constant 71
push constant 65
push constant 79
call Screen.drawRectangle 4
pop temp 0
push constant 93
push constant 40
push constant 101
push constant 110
call Screen.drawRectangle 4
pop temp 0
push constant 101
push constant 40
push constant 136
push constant 48
call Screen.drawRectangle 4
pop temp 0
push constant 128
push constant 48
push constant 136
push constant 110
call Screen.drawRectangle 4
pop temp 0
push constant 101
push constant 75
push constant 128
push constant 83
call Screen.drawRectangle 4
pop temp 0
push constant 156
push constant 40
push constant 164
push constant 110
call Screen.drawRectangle 4
pop temp 0
push constant 164
push constant 40
push constant 199
push constant 48
call Screen.drawRectangle 4
pop temp 0
push constant 173
push constant 48
push constant 181
push constant 75
call Screen.drawRectangle 4
pop temp 0
push constant 191
push constant 48
push constant 199
push constant 110
call Screen.drawRectangle 4
pop temp 0
push constant 219
push constant 40
push constant 227
push constant 110
call Screen.drawRectangle 4
pop temp 0
push constant 227
push constant 40
push constant 262
push constant 48
call Screen.drawRectangle 4
pop temp 0
push constant 227
push constant 69
push constant 262
push constant 77
call Screen.drawRectangle 4
pop temp 0
push constant 227
push constant 102
push constant 262
push constant 110
call Screen.drawRectangle 4
pop temp 0
push constant 93
push constant 140
push constant 101
push constant 210
call Screen.drawRectangle 4
pop temp 0
push constant 101
push constant 140
push constant 136
push constant 148
call Screen.drawRectangle 4
pop temp 0
push constant 128
push constant 148
push constant 136
push constant 210
call Screen.drawRectangle 4
pop temp 0
push constant 101
push constant 202
push constant 128
push constant 210
call Screen.drawRectangle 4
pop temp 0
push constant 156
push constant 140
push constant 164
push constant 166
call Screen.drawRectangle 4
pop temp 0
push constant 164
push constant 166
push constant 172
push constant 192
call Screen.drawRectangle 4
pop temp 0
push constant 172
push constant 192
push constant 180
push constant 210
call Screen.drawRectangle 4
pop temp 0
push constant 180
push constant 166
push constant 188
push constant 192
call Screen.drawRectangle 4
pop temp 0
push constant 188
push constant 140
push constant 196
push constant 166
call Screen.drawRectangle 4
pop temp 0
push constant 219
push constant 140
push constant 227
push constant 210
call Screen.drawRectangle 4
pop temp 0
push constant 227
push constant 140
push constant 262
push constant 148
call Screen.drawRectangle 4
pop temp 0
push constant 227
push constant 170
push constant 262
push constant 178
call Screen.drawRectangle 4
pop temp 0
push constant 227
push constant 202
push constant 262
push constant 210
call Screen.drawRectangle 4
pop temp 0
push constant 282
push constant 140
push constant 290
push constant 210
call Screen.drawRectangle 4
pop temp 0
push constant 290
push constant 140
push constant 325
push constant 148
call Screen.drawRectangle 4
pop temp 0
push constant 317
push constant 148
push constant 325
push constant 168
call Screen.drawRectangle 4
pop temp 0
push constant 290
push constant 168
push constant 325
push constant 175
call Screen.drawRectangle 4
pop temp 0
push constant 307
push constant 175
push constant 315
push constant 192
call Screen.drawRectangle 4
pop temp 0
push constant 315
push constant 192
push constant 323
push constant 210
call Screen.drawRectangle 4
pop temp 0
push constant 200
call Sys.wait 1
pop temp 0
push pointer 0
call Hangman.restart 1
pop temp 0
push constant 0
return
function Hangman.restart 1
push argument 0
pop pointer 0
push constant 0
pop local 0
push this 4
push constant 2
call Math.divide 2
push constant 2
call Math.multiply 2
push this 4
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 200
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push pointer 0
call Hangman.score 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 12
push constant 3
call Output.moveCursor 2
pop temp 0
push constant 28
call String.new 1
push constant 80
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 19
push constant 3
call Output.moveCursor 2
pop temp 0
push constant 16
call String.new 1
push constant 80
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
push constant 81
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call Screen.clearScreen 0
pop temp 0
push pointer 0
call Hangman.run 1
pop temp 0
goto IF_END1
label IF_FALSE1
push constant 1
neg
pop this 3
label IF_END1
goto IF_END0
label IF_FALSE0
call Screen.clearScreen 0
pop temp 0
push pointer 0
call Hangman.run 1
pop temp 0
label IF_END0
push constant 0
return
function Hangman.drawHead 0
push argument 0
pop pointer 0
push constant 305
push constant 90
push constant 20
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Hangman.drawTorso 0
push argument 0
pop pointer 0
push constant 300
push constant 90
push constant 310
push constant 160
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Hangman.drawRightArm 0
push argument 0
pop pointer 0
push constant 300
push constant 135
push constant 340
push constant 120
call Screen.drawLine 4
pop temp 0
push constant 300
push constant 136
push constant 340
push constant 121
call Screen.drawLine 4
pop temp 0
push constant 300
push constant 137
push constant 340
push constant 122
call Screen.drawLine 4
pop temp 0
push constant 300
push constant 138
push constant 340
push constant 123
call Screen.drawLine 4
pop temp 0
push constant 300
push constant 139
push constant 340
push constant 124
call Screen.drawLine 4
pop temp 0
push constant 300
push constant 140
push constant 340
push constant 125
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Hangman.drawLeftArm 0
push argument 0
pop pointer 0
push constant 310
push constant 135
push constant 270
push constant 120
call Screen.drawLine 4
pop temp 0
push constant 310
push constant 136
push constant 270
push constant 121
call Screen.drawLine 4
pop temp 0
push constant 310
push constant 137
push constant 270
push constant 122
call Screen.drawLine 4
pop temp 0
push constant 310
push constant 138
push constant 270
push constant 123
call Screen.drawLine 4
pop temp 0
push constant 310
push constant 139
push constant 270
push constant 124
call Screen.drawLine 4
pop temp 0
push constant 310
push constant 140
push constant 270
push constant 125
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Hangman.drawRightLeg 0
push argument 0
pop pointer 0
push constant 305
push constant 157
push constant 325
push constant 177
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 158
push constant 325
push constant 178
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 159
push constant 325
push constant 179
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 160
push constant 325
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 161
push constant 325
push constant 181
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 162
push constant 325
push constant 182
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Hangman.drawLeftLeg 0
push argument 0
pop pointer 0
push constant 305
push constant 157
push constant 285
push constant 177
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 158
push constant 285
push constant 178
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 159
push constant 285
push constant 179
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 160
push constant 285
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 161
push constant 285
push constant 181
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 162
push constant 285
push constant 182
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Hangman.player1 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16386
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 22554
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 22554
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16386
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 18739
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 8196
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4104
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 10260
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 14364
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3024
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3120
call Memory.poke 2
pop temp 0
push constant 0
return
function Hangman.player2 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 16387
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 20475
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 20475
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 20475
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 20475
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16387
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 20431
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 20359
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 29575
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 29647
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 32766
call Memory.poke 2
pop temp 0
push constant 0
return
function Hangman.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
